body {
  background-image: url(./images/table.png);
  background-size: cover;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  width: 150px;
  padding: 5px 30px;
  background-color: goldenrod;
  color: #016f32;
  border: none;
  border-radius: 2px;
  font-weight: bold;
}
