body {
  background-image: url(./images/table.png);
  background-size: cover;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: goldenrod;
  color: #016f32;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}
